:export {
  u_xs: calc(8px + 0.25vh + 0.25vw);
  u_sm: calc(10px + 0.5vh + 0.5vw);
  u_md: calc(12px + 0.75vh +  0.75vw);
  u_lg: calc(16px + 1.5vh + 1.5vw);
  u_xl: calc(20px + 2vh + 2vw);
  u_v_xs: calc(8px + 0.25vh);
  u_v_sm: calc(10px + 0.5vh);
  u_v_md: calc(12px + 0.75vh);
  u_v_lg: calc(16px + 1.5vh);
  u_v_xl: calc(20px + 2vh);
  u_h_xs: calc(8px + 0.25vw);
  u_h_sm: calc(10px + 0.5vw);
  u_h_md: calc(12px + 0.75vw);
  u_h_lg: calc(16px + 1.5vw);
  u_h_xl: calc(20px + 2vw);
}