@value white from "../../styles/colors.css";
@value  u_xs, u_sm, u_md, u_lg, u_xl, u_v_xs, u_v_sm, u_v_md, u_v_lg, u_v_xl from "../../styles/units.css";
@value bp-sm from "../../styles/breakpoints.css";

.grid {
  display: grid;
  grid-template-rows: auto;
  border-left: 1px solid white;
}


.grid div {
  position: relative;
  cursor: pointer;
  height: 10vh;
  border: 1px solid white;
  margin: -1px 0  0 -1px;
}

.grid span {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: u_md;  
  transform: translate(-50%, -50%);
}

.years {
  grid-template-columns: auto; 
}

.months {
  grid-template-columns: auto auto auto auto; 
}

.days {
  grid-template-columns: auto auto; 
}

@media bp-sm {
  .days {
    grid-template-columns: auto auto auto auto auto auto auto; 
  }
}

.back {
  display: block;
  text-align: center;
  cursor: pointer;
}

.highlighted {
  background: blue
}